* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

body {
  background-color: #f0f4f8;
}
.navbar {
  display: flex;
  background-color: #264653;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 50%;
}
.navbar .logosite{
  display: flex;
  height: 70px;
  padding: 10px;
  
}
.buttongrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  }
.botaobox .buttonav{
    display: block;
  }
.buttonav{
  font-size: 8pt;
  width: 130px;
  height: 20px;
  border-radius: 15px;
  border: none;
  background-color: #2a9d8f;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
button:hover {
  background-color: #1d3557;
}

.gridmod1 {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "texto1 imagem"
    "texto2 imagem";
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  /* centraliza o grid */
}

.gridmod2 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "imagem texto1"
    "imagem texto2";
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.imagem {
  grid-area: imagem;
}

.texto1 {
  grid-area: texto1;
}

.texto2 {
  grid-area: texto2;
}

.texto {
  text-align: justify;
  height: 300px;
  background-color: #f1faee;
  color: #333333;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2)
}

.longtext {

  text-align: justify;
  height: 610px;
  background-color: #f1faee;
  color: #333333;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2)
}

.longimg {
  height: 630px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2)
}

.videopeq {
  text-align: justify;
  height: 300px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2)
}

@media (max-width: 428px) {
  body{
    width: 428px;
    height: 926px;
  }
  .navbar{
    display: flex;
    background-color: #264653;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 70px;
  }
  .buttonav {
    font-size: 8pt;
    width: 130px;
    height: 20px;
    border-radius: 15px;
    border: none;
    background-color: #2a9d8f;
    color: white;
    cursor: pointer;
    transition: 0.5s;
  }

  .buttongrid {
    display: flexbox;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
  }
  .botaobox .buttonav{
    display: block;
  }
 }